* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-black {
  background-color: #292732;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  gap: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.menu-itens a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

.lupa {
  width: 19px;
  height: 19px;
}

.bovinas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    -webkit-text-stroke: 0.1px white;
    text-shadow: 1px 5px 5px #0000002f;
    padding-left: 21px;
    padding-bottom: 5px;
    padding-top: 22px;
}

.pratos-maravilhosos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #666666;
    padding-left: 23px;
}

.nome-prato {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: ;
}